/* .header {
  text-align: center;
  margin-top: 25px;
  font-size: 20px;
  color: blue;
}

body {
  padding-bottom: 80px;
  background-color: whitesmoke
}

form {
  border: 3px solid #ccc;
  padding: 10px 20px 25px 20px;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  background-color: white
}

.form-group {
  text-align: left;
  font-size: 20px;
}

.form-input {
  margin-left: 40px;
  margin-top: 15px;
  height: 20px;
  font-size: 18px;
  width: 50%;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.form-label {
  margin-top: 60px;
  font-size: 20px;
}

.form-select {
  margin-left: 49px;
  margin-top: 20px;
  width: 27%;
  height: 28px;
}

.container {
  text-align: left;
  font-size: 14px;
} */
/* 
.checkbox-group {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  justify-content: space-between;
}

.form-checkbox {
  display: inline-block;
  clear: both;
}

.submit-form {
  margin-top: 13px;
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
}

.clear-form {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-right: 30px;
} */

@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");



.style-color {
  font-size: 100px;
  color: red;
}

.navbar {
  height: 70px !important;

}



.error {
  color: #db2269;
  font-size: 0.900em;
  display: relative;
}


.alert {
  padding: 20px;
  background-color: green;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}